.navmenu a img{
border-radius: 4px;

}
nav{
    z-index: 10;
    background-color: #c96e06;
}
.text{
   
    color: aliceblue;
    font-family: 'Baloo Tamma 2', cursive;
    text-shadow: black;
    font-size: 20px;
   
    

}
.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-bottom: 2vh;
}
.btn2{
    box-sizing: border-box;
    background-color: transparent;

}
#vid_btn a{
    background-color: #f35f5f;
    
}



/* .btn{
position: fixed;
z-index: 10;
width: 300px;
bottom: 20px;

opacity: 0.9;
box-sizing: border-box;
left:0;
right:0;
margin: auto;

color: #c96e06;
background: fixed;
text-decoration: none;

}
.btn2{
    position: fixed;
    z-index: 10;
    width: 300px;
    bottom: 20vh;
    
    box-sizing: border-box;
    left:0;
    right:0;
    margin: auto;
    
    color: #c96e06;
    background: fixed;
    text-decoration: none;
    
    } */
.button_conatiner{
    bottom: 2vh;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn a{
    background-color: #c96e06;
    font-family: 'Baloo Tamma 2', cursive;
    color: #ffffff;
    border: #ffffff 2px solid;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);


    padding: 4px 20vw 4px 20vw;


    
}
.btn2 a{
    background-color: #f35f5f;
    font-family: 'Baloo Tamma 2', cursive;
    color: #ffffff;
    border: #ffffff 2px solid;
    text-decoration: none;
    border-radius: 40px;



    padding: 4px 20vw 4px 20vw;


    
}

 a.nav:link    {text-decoration: none; }
 a.nav:visited {text-decoration: none; }
 a.nav:hover   {text-decoration: none; }
 a.nav:active  {text-decoration: none; }
